/* Common Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;

  /* remove circles from bullet points */
  list-style-type: none;

  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

/* Convert 1rem to 10pixels */
html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

/* Class to Center Elements */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container Class */
.container {
  background-color: var(--secondary-color);
  margin: 3.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
  overflow: hidden;
}

/* End of Common styles */
